*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.w-50{
  width: 50%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: gray;
}

header{
  height: 550px;
  background-color:#0C325A;
}

.testa-container{
  width: 100%;
  height: 100%;
  min-width: 1400px;
  padding: 0 10%;
  background-image: url(img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 106% 100%;
}

.nav{
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.nav .logo{
  width: 15%;
}

.nav .logo img{
  margin-top: 18px;
}

.nav .nav-centrale{
  width: 45%;
}

.nav .nav-destra{
  width: 40%;
  text-align: right;
}

.menu-inline{
  list-style: none;
}


.menu-inline li{
  display: inline;
  padding: 0 10px;
}

.menu-inline li a{
 text-transform: uppercase;
 text-decoration: none;
 color: white;
 font-size: 80%;
}

.bottoni{
  border-radius: 5px;
  display: inline-block;
  color: white;
  line-height: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
 text-decoration: none;
 color: white;
 font-size: 80%;
}


.blu{
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.verde{
  background-color: #7CBB04;
}

.verde-grande{
  padding: 20px 25px;
}

.jumbotron{
  position: relative;
  height: 470px;
}

.h1-jumbotron{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.h1-jumbotron h1{
  color: white;
  font-size: 350%;
  margin-bottom: 40px;
}

/* main */
.titolo-centrale{
  width: 100%;
  background-color: #D3D3D3;
  text-align: center;
  padding: 2%;
  margin-bottom: 50px;
}
 .titolo-centrale h1{
  color: black;
  margin-bottom: 10px;
 }

 .contenitore-centrale{
   width: 80%;
   margin: auto;
 }

 .colonna{
  width: 30%;
  
 }

 .colonna-centrale{
   margin-left: 5%;
   margin-right: 5%;
 }

 .box{
   width: 100%;
   height: 400px;
    overflow: hidden;
 }

 .box img{
   width: 100%;
   height: 60%;
 }

 .box h1{
   text-align: center;
   color: #7CBB04;
   padding: 4%;
 }

 p{
   text-align: center;
   padding: 2%;
   font-size: 25px;
 }

 .hr1{
   margin-left: 40%;
   margin-right: 40%;
   margin-bottom: 30px;
 }

 .contenitore-centrale2{
  width: 80%;
  margin: auto;
 }


 .box2 img{
   /* height: 100%; */
   width: 100%;
 }

 .colonna2{
   width: 48%;
  }

  .contenitore-centrale2 .destra{
    margin-left: 4%;
  }
   
  .titolo2 h1{
    color: black;
    margin-bottom: 15px;
  }

  .titolo2 > p{
    font-size: 20px;
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
  }

 
  .hr-finale{
    margin-top: 50px;
    margin-bottom: 50px;
 }

 /* piede */

 .box-finale{
  width: 100%;
  height: 200px;
  background-color: #D3D3D3;
 }

 .titolo-finale{
   display: inline-block;
   line-height: 200px;
   margin-left: 200px;
   color: black;
 }

 .nav-finale{
   text-align: right;
   padding: 5px 10px;
   line-height: 200px;
   margin-right: 200px;
 }

 .select{
   padding-bottom: 1px;
   border-bottom: 1px solid black;
 }

 .select > span{
   margin: 0 5px;
 }

.fa-sort-down{
  margin-left: 100px;
 }
 

 

